/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	scroll-behavior: smooth;
	background-color: #101010;
}

#main-image-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.71);
	z-index: 3;
	animation: fade-in 0.5s;
}

#main-image-container {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	max-width: 1280px;
	height: 100%;
}

#main-image-container > div, #main-image-container img {
	max-width: 797px;
	width: 100%;
}

#left-arrow, #right-arrow {
	user-select: none;
	text-align: center;
	min-width: 100px;
	font-size: 4em;
	color: white;
	cursor: pointer;
	padding: 0.2em;
	font-family: "Barlow", sans-serif;
}

.no-scroll {
	overflow: hidden;
}

.no-scroll #header {
	/* IMPORTANT */
	/* header can not be hidden behind #main-image-wrapper because #main-image-wrapper is a child while header is a top level parent so this is a hack for now*/
	/* z-index: 0; or */
	opacity: -1 !important;
}



@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	} 
}

.section {
	margin: auto;
	padding: 100px 1em 100px 1em;
}

#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	animation: fade-in 4s 1.5s forwards;
	opacity: 0;
}

#hero > * {
	width: 100%;
}

#hero-image-container {
	position: absolute;
	top: 0;
	clip-path: inset(0 0 0 0);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	height: 100dvh;
	width: 100%;
	transition: width 0.4s;
	overflow: hidden;
}

#background-image {
	filter: brightness(50%);
	position: fixed;
	height: 100dvh;
	object-fit: cover;
	width: 100%;
	left: 0;
}

#signature-container {
	width: 20%;
}

#signature-singular {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 40%;
	min-width: 280px;
}

#signature-separate {
	display: none;
}

#signature {
	display: none;
	padding: 10px;
	width: calc(100% - 20px);
}

#signature2, #signature3 {
	display: none;
	width: 100%;
	height: 100px;
}



/* SIGNATURE */
@-webkit-keyframes svg-text-anim {
	40% {
		stroke-dashoffset: 0;
		fill: transparent;
	}
	60% {
		stroke-dashoffset: 0;
		fill: #b88321;
	}
	100% {
		stroke-dashoffset: 0;
		fill: #b88321;
	}
	 
}

 /* Most browsers */
@keyframes svg-text-anim {
	40% {
		stroke-dashoffset: 0;
		fill: transparent;
	}
	60% {
		stroke-dashoffset: 0;
		fill: #b88321;
	}
	100% {
		stroke-dashoffset: 0;
		fill: #b88321;
	} 
}

p, h2 {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	line-height: 1.4em;
}

#hero p {
	position: absolute;
	margin-top: 1em;
	width: calc(100% - 38.4px);
	padding: 0 1em 0 1em;
	font-size: 1.2em;
	color: rgb(184, 131, 33);
	margin: auto;
}

#header {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.598);
	margin: auto;
	z-index: 1;
	width: calc(100% - 16px);
	padding: 0.5em;
	text-align: center;
	color: rgb(184, 131, 33);
	font-family: "Barlow", sans-serif;
	font-weight: 500;
	font-style: normal;
	letter-spacing: 0.1em;
	opacity: 0;
	animation: fade-in 4s 0.2s forwards;
	font-size: 0.9em;
}

#header nav {
	margin: auto;
	max-width: 1280px;
}

a {
	color: #b88321;
	/* text-decoration: none; */
}

#header-list, #header-list ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#header-list ul li {
	cursor: pointer;
}

#header-list li:not(#header-list > li:nth-child(2)) {
	text-decoration: underline;
}

#lump {
	position: absolute;
	width: 80px;
	top: 53px;
	right: 19px;
	transform: rotate(-90deg);
	transition: transform 0.4s;
}

#side-bar {
	position: fixed;
	top: 5%;
	right: 0px;
	z-index: 9999;
	width: 50px;
}

#icon-list {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2em;
	background-color: #383838d6;
	padding: 30px 0;
	text-align: center;
	border-radius: 20px 0 0 20px;
}

#icon-list li {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 40px;
	width: 40px;
	border-radius: 50px;
	padding: 5px;
	transition: padding 0.4s, transform 0.4s;
	cursor: pointer;
}

.icon {
	height: 30px;
	width: 30px;
}

.current-icon {
	border-radius: 100px;
	background-color: rgb(90, 90, 90);
	position: relative;
	transform: translateX(-10px) translateY(0px);
}

#header-list > li:nth-child(1), #header-list > li:nth-child(3) {
	display: none;
}

#header-list .name-intro {
	font-size: 1.4em;
	letter-spacing: 0.25em;
}

.name-intro {
	transition: font-size 0.4s, letter-spacing 0.4s;
}

#header-list .shrink-name {
	font-size: 1.3em;
	letter-spacing: 0.3em;
}

@keyframes squish {
	0% {
		opacity: 0;
		letter-spacing: 1.5em;
	}

	100% {
		opacity: 100%;
		letter-spacing: 0.4em;
	}
}

.swiper-wrapper{
	transition-timing-function : linear;
}

/* swiper goes over the header so we need to push it back */
.transition-gallery > .swiper { 
	z-index: -1;
}

.swiper-slide img {
	cursor: pointer;
	width: 100%;
	object-fit: cover;
	transition: transform 0.4s;
}

#gallery > .swiper .swiper-slide:hover img {
	transform: scale(103%);
}

swiper-container {
	transform: none;
	transition-timing-function : linear;
}

#body {
	display: block;
	margin: auto;
	width: 70%;
}

#body-container {
	position: relative;
	margin: auto;
	z-index: -1;
	max-width: 500px;
	width: 80%;
}

[id$="-animation"] {
	display: none;
	position: absolute;
	width: 130%;
	left: 0;
	top: 0;
}

/* body animations */
#head-animation {
	transform: translateY(-9%) translateX(-11.1%);
}

#upper-body-animation {
	transform: translateY(65%) translateX(-11.25%);
}

#lower-body-animation {
	width: 125%;
	transform: translateY(79%) translateX(-9.7%);
}

#feet-animation {
	transform: translateY(977%) translateX(-11.5%);
}

#main-content {
	background-color: #191919;
}

#gallery-container {
	margin: auto;
	max-width: 80rem;
}

.transition-gallery {
	animation: fade-in 1s forwards;
}

#gallery {
	opacity: 0;
}

#highlights {
	position: relative;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 1em;
	box-sizing: border-box;
}

.highlight-container {
	display: flex;
	overflow: hidden;
	flex: 1;
	border: 1px solid rgba(255, 255, 255, 0.5);
	transition: flex 1s;
	cursor: pointer;
	box-sizing: border-box;
	opacity: 0;
	height: 743px;
	will-change: flex;
}

.highlight-fade-1 {
	animation: fade-in 1s 0.2s forwards;
}

.highlight-fade-2 {
	animation: fade-in 1s 0.4s forwards;
}

.highlight-fade-3 {
	animation: fade-in 1s 0.6s forwards;
}

.highlight-fade-4 {
	animation: fade-in 1s 0.8s forwards;
}

.highlight-container:hover {
	flex: 2.5;
}

.highlight-container img {
	position: relative;
	width: 100%;
	object-fit: cover;
	filter: grayscale(100%) brightness(30%);
	will-change: filter, object-position;
}

#highlights > .highlight-container:hover img, .highlight img {
	filter: brightness(100%) grayscale(0%);
}

#highlights > .highlight-container:nth-of-type(2) img {
	object-position: center 20%;
}

#highlights > .highlight-container:nth-of-type(3) img {
	object-position: center 60%;
}

#highlights > .highlight-container:nth-of-type(4) img {
	object-position: center 90%;
}

#highlights > .highlight-container:nth-of-type(5) img {
	object-position: center 90%;
}

footer {
	position: relative;
	color: #b88321;
}

#footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1280px;
}

#credentials {
	position: relative;
	color: #b88321;
	padding: 40px;
	text-align: center;
}

#features {
	position: relative;
}

#attribute {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #b88321;
	padding: 10px;
	text-align: center;
}

#copyright {
	color: #b88321;
	padding: 10px;
	text-align: center;
}

footer .icon {
	height: 30px;
	width: 30px;
}

footer nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#social-container {
	text-align: center;
	margin-bottom: 50px;
}

#social-list {
	display: flex;
	margin: auto;
	gap: 1em;
}

#social-container h2 {
	font-size: 3em;
}

#social-container p {
	margin: 1em 0;
}

footer > span {
	text-align: center;
	font-size: 1em;
}

#contact-container {
	width: calc(100% - 52px);
	padding: 0 calc(1em + 20px) 0 1em;
}

#contact-container > div {
	position: relative;
	margin: auto;
	text-align: center;
	padding: 70px 40px;
	background-color:#262626;
	border-radius: 30px 0 30px 0;
	flex: 1;
	max-width: 204px;
}

#contact-container > div:nth-child(2) {
	margin-top: 60px;
}

.background-shadow {
	position: absolute;
	top: 20px;
	left: 20px;
	background-color:#191919;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 30px 0 30px 0;
}

#contact-container p {
	margin-top: 30px;
}

@media (min-width: 700px) {
	#contact-container {
		display: flex;
		justify-content: center;
		gap: 40px;
	}

	#contact-container > div {
		margin: initial;
	}

	#contact-container > div:nth-child(2) {
		margin-top: 0;
	}
}

@media (min-width: 876px) {
	#background-image {
		object-position: 0% 6%;
		width: 100%;
	}
}

@media (min-width: 900px) {
	#header {
		position: fixed;
		font-size: 1.25em;
		width: calc(100% - 20px);
	}

	#header-list > li:not(#header-list > li:nth-child(2)) {
		flex: 1;
	}

	#header-list > li:nth-child(1), #header-list > li:nth-child(3) {
		display: initial;
	}

	#header-list .name-intro {
		font-size: 1.5em;
	}

	#header-list .shrink-name {
		font-size: 1.2em;
	}

	#side-bar {
		display: none;
	}
}

@media (min-width: 1200px) {
	#header {
		width: calc(100% - 24px);
		font-size: 1.5em;
	}

	#background-image {
		width: 80%;
	}

	#hero {
		flex-direction: row;
	}
	
	#hero-image-container {
		width: 80%;
	}
	
	#hero p {
		margin-top: initial;
		padding: 0 1em 0 1em;
		font-size: 1.5em;
	}

	#header-list .name-intro {
		font-size: 1.7em;
		letter-spacing: 0.2em;
	}

	#header-list .shrink-name {
		font-size: 1.2em;
	}

	#signature {
		height: 100px;
	}

	#signature-singular {
		position: relative;
		display: none;
	}

	#signature-separate {
		display: initial;
	}

	footer nav span {
		font-size: 1.5em;
	}
}

@media (min-width: 1350px) {
	#footer-container {
		margin: auto;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}

	#footer-container > * {
		width: 50%;
	}

	#social-container {
		margin-bottom: 0;
		text-align: initial;
	}

	#social-list {
		margin: initial;
		text-align: initial;
	}

	footer .icon {
		height: 40px;
		width: 40px;
	}
}

@media (min-width: 1800px) {
	#signature-singular {
		display: initial;
	}

	#signature-separate {
		display: none;
	}
}